.header {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

a {
	display: block;
}

a[href] {
	color: blue;
	text-decoration: none;
}

a[href]:hover {
	text-decoration: underline;
}

.disabledlink {
	cursor: not-allowed;
	opacity: 0.5;
	color: red;
}
